<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/public/style.css" rel="stylesheet"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Lato:wght@100;400;700&family=Lustria&family=Montserrat:wght@100;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <title>DankiCode | Portal</title>
    </head>
    <body>
        <header>
            <div class="container">
                <div class="logo">
                    <a href="/">Portal<b>Danki</b></a>
                </div><!--logo-->
                <form class="form-busca" action="/">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input type="text" name="busca" placeholder="Buscar notícia">
                </form><!--form-busca-->
            </div><!--center-->
        </header>